In [1]:
import pandas as pd

In [ ]:
# https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset

In [5]:
df = pd.read_csv("world_population.csv")

In [7]:
df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [10]:
# Скільки країн в данних?
df.shape[0]

# len(df)

234

In [12]:
# Скільки країн мають всі дані?
df.dropna().shape[0]

234

In [13]:
df = df.set_index("Country/Territory")

In [14]:
df.head()

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [16]:
df.loc["Afghanistan":"Andorra", "2022 Population":"2000 Population"]

,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population
Country/Territory,,,,,
Afghanistan,41128771,38972230,33753499,28189672,19542982
Albania,2842321,2866849,2882481,2913399,3182021
Algeria,44903225,43451666,39543154,35856344,30774621
American Samoa,44273,46189,51368,54849,58230
Andorra,79824,77700,71746,71519,66097

In [17]:
df.loc["Ukraine", "2022 Population":"1970 Population"]

2022 Population    39701739
2020 Population    43909666
2015 Population    44982564
2010 Population    45683020
2000 Population    48879755
1990 Population    51589817
1980 Population    49973920
1970 Population    47279086
Name: Ukraine, dtype: object

In [18]:
df.loc["Ukraine", "2022 Population"] += 1
df.loc["Ukraine", "2022 Population"]

39701740

In [19]:
df["2022 Population"].sum()

7973413043

In [20]:
df["2022 Population"].max()

1425887337

In [21]:
df["2022 Population"].min()

510

In [22]:
df["2022 Population"].idxmax() #виводить індекс максимального значення

'China'

In [23]:
df.groupby("Continent")  # виводить об'єкт типу DataFrameGroupBy (подібний до DataFrame) зі згрупованими даними

In [24]:
df.groupby("Continent").sum(numeric_only=True)

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Continent,,,,,,,,,,,,,
Africa,5253,1426730932,1360671810,1201102442,1055228072,818946032,638150629,481536377,365444348,30317963,7127.7158,58.2109,17.87
Asia,3878,4721383274,4663086535,4458250182,4220041327,3735089604,3210563577,2635334228,2144906290,32138141,51251.2068,50.4692,59.19
Europe,6225,743147539,745792196,741535608,735613934,726093423,720320797,692527159,655923991,23010411,33166.2371,50.1128,9.33
North America,6437,600296136,594236593,570383850,542720651,486069584,421266425,368293361,315434606,24244178,10910.4703,40.1670,7.51
Oceania,4336,45038554,43933426,40403283,37102764,31222778,26743822,22920240,19480270,8515081,3048.4905,23.1698,0.55
South America,1366,436816608,431530043,413134396,393078250,349634282,297146415,241789006,192947156,17833382,293.6077,14.1114,5.48

In [25]:
df.groupby("Continent").median(numeric_only=True)

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Continent,,,,,,,,,,,,,
Africa,77.0,13352864.0,12643123.0,11557779.0,10270728.0,8109989.0,5827069.0,4408230.0,3667394.0,272967.0,59.70940,1.02310,0.170
Asia,69.5,18082920.0,17688051.5,16626716.0,15495684.5,13677547.0,9802802.0,7641007.0,6212695.0,164302.5,122.96515,1.00810,0.225
Europe,122.5,5228714.0,5162979.0,4928058.0,4707163.0,4519818.0,4684008.5,4439982.0,4184092.0,53901.5,106.86540,1.00150,0.065
North America,187.5,236399.0,234990.5,226853.0,222823.0,199953.0,169017.5,150992.0,135645.0,1038.0,221.42110,1.00415,0.000
Oceania,194.0,114164.0,112106.0,109462.0,107588.0,102603.0,98603.0,76299.0,58989.0,702.0,78.24840,1.00790,0.000
South America,73.5,15112555.0,14762378.5,13642993.5,12606427.5,10609581.5,8773015.5,6935966.5,5378954.0,581427.0,17.78870,1.00630,0.190

In [27]:
df.groupby("Continent")["2022 Population"].sum(numeric_only=True)

Continent
Africa           1426730932
Asia             4721383274
Europe            743147539
North America     600296136
Oceania            45038554
South America     436816608
Name: 2022 Population, dtype: int64

In [29]:
df.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,1.000000,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,59.250000,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,175.750000,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,234.000000,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

In [31]:
df.groupby(["Continent", "Area (km²)"])["Density (per km²)"].describe()

                          count      mean  std       min       25%       50%  \
Continent     Area (km²)
Africa        374           1.0  871.9278  NaN  871.9278  871.9278  871.9278
              452           1.0  236.9867  NaN  236.9867  236.9867  236.9867
              964           1.0  235.8714  NaN  235.8714  235.8714  235.8714
              1862          1.0  449.3953  NaN  449.3953  449.3953  449.3953
              2040          1.0  636.9946  NaN  636.9946  636.9946  636.9946
...                         ...       ...  ...       ...       ...       ...
South America 1098581       1.0   11.1272  NaN   11.1272   11.1272   11.1272
              1141748       1.0   45.4339  NaN   45.4339   45.4339   45.4339
              1285216       1.0   26.4933  NaN   26.4933   26.4933   26.4933
              2780400       1.0   16.3683  NaN   16.3683   16.3683   16.3683
              8515767       1.0   25.2841  NaN   25.2841   25.2841   25.2841

                               75%       max
Continent     Area (km²)
Africa        374         871.9278  871.9278
              452         236.9867  236.9867
              964         235.8714  235.8714
              1862        449.3953  449.3953
              2040        636.9946  636.9946
...                            ...       ...
South America 1098581      11.1272   11.1272
              1141748      45.4339   45.4339
              1285216      26.4933   26.4933
              2780400      16.3683   16.3683
              8515767      25.2841   25.2841

[234 rows x 8 columns]

In [34]:
df.groupby("Continent")[["2022 Population", '2000 Population']].agg(["min", "max", 'sum', 'mean', 'median'])

              2022 Population                                        \
                          min         max         sum          mean
Continent
Africa                 107118   218541212  1426730932  2.503037e+07
Asia                   449002  1425887337  4721383274  9.442767e+07
Europe                    510   144713314   743147539  1.486295e+07
North America            4390   338289857   600296136  1.500740e+07
Oceania                  1871    26177413    45038554  1.958198e+06
South America            3780   215313498   436816608  3.120119e+07

                          2000 Population                          \
                   median             min         max         sum
Continent
Africa         13352864.0           80060   122851984   818946032
Asia           18082920.0          282507  1264099069  3735089604
Europe          5228714.0             651   146844839   726093423
North America    236399.0            5138   282398554   486069584
Oceania          114164.0            1666    19017963    31222778
South America  15112555.0            3080   175873720   349634282


                       mean      median
Continent
Africa         1.436747e+07   8109989.0
Asia           7.470179e+07  13677547.0
Europe         1.452187e+07   4519818.0
North America  1.215174e+07    199953.0
Oceania        1.357512e+06    102603.0
South America  2.497388e+07  10609581.5

In [35]:
# Які значення мір центральної тенденції для 2022 Population?

mean_pop = df["2022 Population"].mean()
median_pop = df["2022 Population"].median()
mode_pop = df["2022 Population"].mode()[0]

print("Mean 2022 Population:", mean_pop)
print("Median 2022 Population:", median_pop)
print("Mode 2022 Population:", mode_pop)

Mean 2022 Population: 34074414.713675216
Median 2022 Population: 5559944.5
Mode 2022 Population: 510

In [37]:
df["2022 Population"].agg([ "mean", "median"])

mean      3.407441e+07
median    5.559944e+06
Name: 2022 Population, dtype: float64

In [38]:
df.sort_values(by="2022 Population")

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Vatican City,234,VAT,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00
Tokelau,233,TKL,Nukunonu,Oceania,1871,1827,1454,1367,1666,1669,1647,1714,12,155.9167,1.0119,0.00
Niue,232,NIU,Alofi,Oceania,1934,1942,1847,1812,2074,2533,3637,5185,260,7.4385,0.9985,0.00
Falkland Islands,231,FLK,Stanley,South America,3780,3747,3408,3187,3080,2332,2240,2274,12173,0.3105,1.0043,0.00
Montserrat,230,MSR,Brades,North America,4390,4500,5059,4938,5138,10805,11452,11402,102,43.0392,0.9939,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pakistan,5,PAK,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
Indonesia,4,IDN,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
United States,3,USA,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
India,2,IND,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
China,1,CHN,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88

In [40]:
df.sort_values(by="2022 Population", ascending=False, na_position="first")

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
China,1,CHN,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
India,2,IND,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
United States,3,USA,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
Indonesia,4,IDN,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
Pakistan,5,PAK,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,230,MSR,Brades,North America,4390,4500,5059,4938,5138,10805,11452,11402,102,43.0392,0.9939,0.00
Falkland Islands,231,FLK,Stanley,South America,3780,3747,3408,3187,3080,2332,2240,2274,12173,0.3105,1.0043,0.00
Niue,232,NIU,Alofi,Oceania,1934,1942,1847,1812,2074,2533,3637,5185,260,7.4385,0.9985,0.00
Tokelau,233,TKL,Nukunonu,Oceania,1871,1827,1454,1367,1666,1669,1647,1714,12,155.9167,1.0119,0.00
Vatican City,234,VAT,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00

In [41]:
df.sort_values(by=["Continent", "Country/Territory"])

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
Angola,42,AGO,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
Benin,77,BEN,Porto-Novo,Africa,13352864,12643123,10932783,9445710,6998023,5133419,3833939,3023443,112622,118.5635,1.0274,0.17
Botswana,144,BWA,Gaborone,Africa,2630296,2546402,2305171,2091664,1726985,1341474,938578,592244,582000,4.5194,1.0162,0.03
Burkina Faso,58,BFA,Ouagadougou,Africa,22673762,21522626,18718019,16116845,11882888,9131361,6932967,5611666,272967,83.0641,1.0259,0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Paraguay,109,PRY,Asunción,South America,6780744,6618695,6177950,5768613,5123819,4059195,3078912,2408787,406752,16.6705,1.0115,0.09
Peru,44,PER,Lima,South America,34049588,33304756,30711863,29229572,26654439,22109099,17492406,13562371,1285216,26.4933,1.0099,0.43
Suriname,170,SUR,Paramaribo,South America,618040,607065,575475,546080,478998,412756,375112,379918,163820,3.7727,1.0082,0.01
Uruguay,133,URY,Montevideo,South America,3422794,3429086,3402818,3352651,3292224,3117012,2953750,2790265,181034,18.9069,0.9990,0.04
Venezuela,51,VEN,Caracas,South America,28301696,28490453,30529716,28715022,24427729,19750579,15210443,11355475,916445,30.8820,1.0036,0.35