# Lesson 2

In [3]:
i = 5
i

5

In [24]:
l=['a', 17, 35.77, [1, 2, 3], True, None, i]
l

['a', 17, 35.77, [1, 2, 3], True, None, 5]

In [12]:
l2 = l[3]
#l2[1]

l[3][1]

2

In [7]:
k = 4

In [8]:
l[k]

True

In [25]:
l.append(45)

In [26]:
l

['a', 17, 35.77, [1, 2, 3], True, None, 5, 45]

In [27]:
element = 'Marie'
l.append(element)
l

['a', 17, 35.77, [1, 2, 3], True, None, 5, 45, 'Marie']

In [28]:
l.insert(0, element)

In [29]:
l

['Marie', 'a', 17, 35.77, [1, 2, 3], True, None, 5, 45, 'Marie']

In [30]:
m = [12,13]
l.extend(m)

In [31]:
l

['Marie', 'a', 17, 35.77, [1, 2, 3], True, None, 5, 45, 'Marie', 12, 13]

In [32]:
l = l + m
l

['Marie',
 'a',
 17,
 35.77,
 [1, 2, 3],
 True,
 None,
 5,
 45,
 'Marie',
 12,
 13,
 12,
 13]

In [ ]:
l.append(list([12,13]))

In [33]:
l

['Marie',
 'a',
 17,
 35.77,
 [1, 2, 3],
 True,
 None,
 5,
 45,
 'Marie',
 12,
 13,
 12,
 13]

In [34]:
l.pop(5)
l

['Marie', 'a', 17, 35.77, [1, 2, 3], None, 5, 45, 'Marie', 12, 13, 12, 13]

In [37]:
element_index = l.index(35.77)
l.pop(element_index)
l

['Marie', 'a', 17, [1, 2, 3], None, 5, 45, 'Marie', 12, 13, 12, 13]

In [41]:
l.count('b')

0

In [46]:
k = ('a', 17, 35.77, [1, 2, 3], True, None)
k[4]

True

In [51]:
k1 = ('a', 17, 35.77, [1, 2, 3], True, None)
k2 = ('b', 17, 35.77, [1, 4, 3], True, None)
k1 = k2

In [54]:
a = 1
d = (1,2)
k = (a, d, 35.77, [1, 2, 3], True, None)
k

(1, (1, 2), 35.77, [1, 2, 3], True, None)

In [ ]:
k = (1 , )

In [55]:
a = 2
k

(1, (1, 2), 35.77, [1, 2, 3], True, None)

In [56]:
s = {'a', 17, 35.77, True, None, 17,  35.77}
s

{17, 35.77, None, True, 'a'}

In [57]:
s.add(3)

In [58]:
s

{17, 3, 35.77, None, True, 'a'}

In [59]:
s.add('a')
s

{17, 3, 35.77, None, True, 'a'}

In [61]:
s = {17, 3, 35.77, None, True, 'a'}
s2 = {23,34,45,56}

s.update(s2)
s

{17, 23, 3, 34, 35.77, 45, 56, None, True, 'a'}

In [62]:
s = {17, 3, 35.77, None, True, 'a'}
s2 = {23,34,45,56}

s = s | s2
s

{17, 23, 3, 34, 35.77, 45, 56, None, True, 'a'}

In [63]:
s.remove(17)
s

{23, 3, 34, 35.77, 45, 56, None, True, 'a'}

In [64]:
s.remove(17)
s

KeyError: 17

In [68]:
s.discard(23)
s

{3, 34, 35.77, 45, 56, None, True, 'a'}

In [71]:
l=['a', 17, 35.77, [1, 2, 3], True, None, i, 17]

In [78]:
d = {
        "key": "value", 
        1: "one",
        'key45': 456,
        65:63,
        'param':  {
                    "key": "value", 
                    1: "one",
                    'key45': 456,
                    65:63,
                  }
        
    }
d

{'key': 'value',
 1: 'one',
 'key45': 456,
 65: 63,
 'param': {'key': 'value', 1: 'one', 'key45': 456, 65: 63}}

In [80]:
client_info = {
    "name": "Andriy",
    "age": 30,
    "address": {
        "street": "Hlova Street, 10",
        "city": "Kyiv",
        "country": "Ukraine"
    },
    "email": "andriy@example.com",
    "phone": "+380123456789",
    
     "orders": [{  
                  'id':1,
                  'item_id':55
                },
               {
                   'id':2,
                   'item_id':57
               },
               {
                   'id':3,
                   'item_id':587
               },
              ]
}
client_info
#часто будете працювати якщо дані з API, але частіше будуть дата інженери так отримувати дані

{'name': 'Andriy',
 'age': 30,
 'address': {'street': 'Hlova Street, 10',
  'city': 'Kyiv',
  'country': 'Ukraine'},
 'email': 'andriy@example.com',
 'phone': '+380123456789',
 'orders': [{'id': 1, 'item_id': 55},
  {'id': 2, 'item_id': 57},
  {'id': 3, 'item_id': 587}]}

In [84]:
client_info['address']['city']

'Kyiv'

In [85]:
client_info['orders']

[{'id': 1, 'item_id': 55}, {'id': 2, 'item_id': 57}, {'id': 3, 'item_id': 587}]

In [86]:
client_info.pop("phone")
client_info

{'name': 'Andriy',
 'age': 30,
 'address': {'street': 'Hlova Street, 10',
  'city': 'Kyiv',
  'country': 'Ukraine'},
 'email': 'andriy@example.com',
 'orders': [{'id': 1, 'item_id': 55},
  {'id': 2, 'item_id': 57},
  {'id': 3, 'item_id': 587}]}

In [87]:
client_info.update(  {'gender': 'male'} )
client_info

{'name': 'Andriy',
 'age': 30,
 'address': {'street': 'Hlova Street, 10',
  'city': 'Kyiv',
  'country': 'Ukraine'},
 'email': 'andriy@example.com',
 'orders': [{'id': 1, 'item_id': 55},
  {'id': 2, 'item_id': 57},
  {'id': 3, 'item_id': 587}],
 'gender': 'male'}

In [89]:
client_info['work_place']

KeyError: 'work_place'

In [93]:
client_info['address']

{'street': 'Hlova Street, 10', 'city': 'Kyiv', 'country': 'Ukraine'}

In [92]:
client_info.get('work_place')

In [91]:
client_info.get('address')

{'street': 'Hlova Street, 10', 'city': 'Kyiv', 'country': 'Ukraine'}

In [96]:
default = 'empty'
client_info.get('work_place' , default)

'empty'

In [97]:
client_info['gender'] = 'm'

In [98]:
client_info

{'name': 'Andriy',
 'age': 30,
 'address': {'street': 'Hlova Street, 10',
  'city': 'Kyiv',
  'country': 'Ukraine'},
 'email': 'andriy@example.com',
 'orders': [{'id': 1, 'item_id': 55},
  {'id': 2, 'item_id': 57},
  {'id': 3, 'item_id': 587}],
 'gender': 'm'}

In [99]:
d2 = { 'fav_product' : 'banana',
       'count_fav_product' : 3000
        }

In [100]:
client_info.update(d2)

{'fav_product': 'banana', 'count_fav_product': 3000}

In [101]:
client_info

{'name': 'Andriy',
 'age': 30,
 'address': {'street': 'Hlova Street, 10',
  'city': 'Kyiv',
  'country': 'Ukraine'},
 'email': 'andriy@example.com',
 'orders': [{'id': 1, 'item_id': 55},
  {'id': 2, 'item_id': 57},
  {'id': 3, 'item_id': 587}],
 'gender': 'm',
 'fav_product': 'banana',
 'count_fav_product': 3000}

In [102]:
my_dict = {"old_key": "value"}

# Крок 1: Зберігаємо значення, пов'язане зі старим ключем
old_value = my_dict["old_key"]

# Крок 2: Видаляємо старий ключ
del my_dict["old_key"]

# Крок 3: Додаємо новий ключ зі збереженим значенням
my_dict["new_key"] = old_value

print(my_dict)  # Виведе {'new_key': 'value'}

{'new_key': 'value'}

In [103]:
clients = [
    { 'name': 'Marie' , "age": 25, 'email': 'marie@gmail.com'  },
    { 'name': 'Marie1' , "age": 25, 'email': 'marie@gmail.com'  },
    { 'name': 'Marie2' , "age": 25, 'email': 'marie@gmail.com'  },
    { 'name': 'Marie3' , "age": 25, 'email': 'marie@gmail.com'  },
    { 'name': 'Marie4' , "age": 25, 'email': 'marie@gmail.com'  },
    { 'name': 'Marie5' , "age": 25, 'email': 'marie@gmail.com'  }, 
]

In [104]:
clients = {
    "client1": { 'name': 'Marie' , "age": 25, 'email': 'marie@gmail.com'  },
    "client2": { 'name': 'Marie' , "age": 25, 'email': 'marie@gmail.com'  },

}

# Цикли

In [105]:
l = ['a', 17, 35.77, [1, 2, 3], True, None]

for element in l:
    print(element)

a
17
35.77
[1, 2, 3]
True
None

In [120]:
l = [ 1 , 4, 5, 3]
elem_sum = 0
elem_mult = 1

for element in l:
    elem_sum += element
    elem_mult *= element
    print("current_elem = ", element, " current_sum = ", elem_sum, " current_mult = ", elem_mult)
    
print("Result = ", elem_sum)

current_elem =  1  current_sum =  1  current_mult =  1
current_elem =  4  current_sum =  5  current_mult =  4
current_elem =  5  current_sum =  10  current_mult =  20
current_elem =  3  current_sum =  13  current_mult =  60
Result =  13

In [121]:
element

3

In [110]:
print('Hello world!')
print("Hello world!")
print('''Hello world!''')
print("""Hello world!""")

Hello world!
Hello world!
Hello world!
Hello world!

In [113]:
l = [ 1 , 2, 3, 4]

for t in l:
    print(t+5)

6
7
8
9

In [114]:
client_info

{'name': 'Andriy',
 'age': 30,
 'address': {'street': 'Hlova Street, 10',
  'city': 'Kyiv',
  'country': 'Ukraine'},
 'email': 'andriy@example.com',
 'orders': [{'id': 1, 'item_id': 55},
  {'id': 2, 'item_id': 57},
  {'id': 3, 'item_id': 587}],
 'gender': 'm',
 'fav_product': 'banana',
 'count_fav_product': 3000}

In [118]:
for element in client_info:
    print(element, client_info[element])

name Andriy
age 30
address {'street': 'Hlova Street, 10', 'city': 'Kyiv', 'country': 'Ukraine'}
email andriy@example.com
orders [{'id': 1, 'item_id': 55}, {'id': 2, 'item_id': 57}, {'id': 3, 'item_id': 587}]
gender m
fav_product banana
count_fav_product 3000

In [123]:
for val in client_info.values():
    print(val)

Andriy
30
{'street': 'Hlova Street, 10', 'city': 'Kyiv', 'country': 'Ukraine'}
andriy@example.com
[{'id': 1, 'item_id': 55}, {'id': 2, 'item_id': 57}, {'id': 3, 'item_id': 587}]
m
banana
3000

In [124]:
client_info.items()

dict_items([('name', 'Andriy'), ('age', 30), ('address', {'street': 'Hlova Street, 10', 'city': 'Kyiv', 'country': 'Ukraine'}), ('email', 'andriy@example.com'), ('orders', [{'id': 1, 'item_id': 55}, {'id': 2, 'item_id': 57}, {'id': 3, 'item_id': 587}]), ('gender', 'm'), ('fav_product', 'banana'), ('count_fav_product', 3000)])

In [125]:
for key, value in client_info.items():
    print(key, value)

name Andriy
age 30
address {'street': 'Hlova Street, 10', 'city': 'Kyiv', 'country': 'Ukraine'}
email andriy@example.com
orders [{'id': 1, 'item_id': 55}, {'id': 2, 'item_id': 57}, {'id': 3, 'item_id': 587}]
gender m
fav_product banana
count_fav_product 3000

In [128]:
i = 30 
while i > 25:
    print(i)
    i -= 1

30
29
28
27
26

In [133]:
print('He\'s tall')

He's tall

In [134]:
s = 'He is tall!'

In [135]:
s[1]

'e'

In [136]:
text = "tall, young"

In [137]:
traits_list = text.split(', ')

In [141]:
traits_list

['tall', 'young']

In [142]:
', '.join(traits_list)

'tall, young'

In [144]:
name = 'John'
age = 30

print(f'Hello, {name}! You are {age} years old.')

Hello, John! You are 30 years old.

In [148]:
template = 'Hello, {}. You are {} years old.'
print(template.format(name, age))

Hello, John. You are 30 years old.

In [149]:
print('Hello, {str_name}. You are {str_age} years old.'.format(str_name=name, str_age=age))

Hello, John. You are 30 years old.

In [ ]:
print(f'Hello, {name}! You are {age} years old.')

print('Hello, {}. You are {} years old.'.format(name, age))
print('Hello, {str_name}. You are {str_age} years old.'.format(str_name=name, str_age=age))

# Функції

In [150]:
def foo():
    print('I am foo!')

In [151]:
foo()

I am foo!

In [152]:
foo()

I am foo!

In [153]:
i = 30 
while i > 25:
    foo()
    i -= 1

I am foo!
I am foo!
I am foo!
I am foo!
I am foo!

In [159]:
def foo(age):
    print(f'I am foo! My age is {age}')
    
    
y =     foo(12)

I am foo! My age is 12

In [156]:
foo(12)

I am foo! My age is 12

In [ ]:
# y = f(x)

In [157]:
def age_5_years_ago(age):
    print(f'I am foo! My age is {age}')
    return age - 5

In [158]:
t = age_5_years_ago(12)
t

I am foo! My age is 12

7

In [164]:
sales_count = [100 , 120 , 90 , 110 , 95]

In [165]:
len(sales_count)

5

In [166]:
def average_sales(data):
    total_sum = 0
    for element in data:
        total_sum += element
    return   total_sum /   len(data)

In [168]:
avg_sales  = average_sales(sales_count)
print(f'Середня кількість продажів: {avg_sales}')

Середня кількість продажів: 103.0

In [172]:
print(f'Середня кількість продажів: {average_sales(sales_count)}')

Середня кількість продажів: 103.0

In [169]:
team = [
    {"name": "John", "age": 20, "number": 1},
    {"name": "Mark", "age": 33, "number": 3},
    {"name": "Cavin", "age": 17, "number": 12},
]

In [170]:
team

[{'name': 'John', 'age': 20, 'number': 1},
 {'name': 'Mark', 'age': 33, 'number': 3},
 {'name': 'Cavin', 'age': 17, 'number': 12}]

In [171]:

def show_players(players):
    print("Дані про гравців команди")

    for player in players:
        # Форматування і виведення інформації про гравця
        print(f" номер = {player['number']}, ім'я = {player['name']}, вік гравця = {player['age']}")

# Викликаємо функцію з нашим списком гравців
show_players(team)

Дані про гравців команди
 номер = 1, ім'я = John, вік гравця = 20
 номер = 3, ім'я = Mark, вік гравця = 33
 номер = 12, ім'я = Cavin, вік гравця = 17

In [176]:
def average_sales_v2(data):
    total_sum = 0

    for element in data:
        total_sum += element
        
    count_10prc_plus =  total_sum * 1.1   
    
    return   total_sum /   len(data) , count_10prc_plus, 1,2 ,12 ,12312, 43, 'sddhnsdkl'

In [177]:
average_sales_v2(sales_count)

(103.0, 566.5, 1, 2, 12, 12312, 43, 'sddhnsdkl')

In [184]:
def calculate_statistics(data, mean = True, median = False, std_dev = False):
    result = {}
    if mean:
        result['mean'] = sum(data) / len(data)
    if median:
        sorted_data = sorted(data)
        mid = len(data) // 2
        result['median'] = (sorted_data[mid] if len(data) % 2 != 0 else (sorted_data[mid - 1] + sorted_data[mid]) / 2)
    if std_dev:
        mean_value = sum(data) / len(data)
        result['std_dev'] = (sum((x - mean_value) ** 2 for x in data) / len(data)) ** 0.5
    return result

In [185]:
# Використання функції
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [186]:
stats = calculate_statistics(data)
print(stats)

{'mean': 5.5}

In [187]:
# Обчислення лише середнього та стандартного відхилення
stats = calculate_statistics(data, median=False, std_dev=True)
print(stats)

{'mean': 5.5, 'std_dev': 2.8722813232690143}

In [189]:
stats = calculate_statistics(data, median=True)
print(stats)

{'mean': 5.5, 'median': 5.5}

In [ ]:
#Значеннями за замовчуванням можуть бути забезпечені тільки параметри, що знаходяться у кінці списку параметрів. 
#Таким чином, у списку параметрів функції параметр зі значенням за замовчуванням не може передувати 
#параметру без значення за замовчуванням. 
#Це пов'язано з тим, що значення надаються параметрам відповідно до їх положення!!!

In [191]:
def example_func(fixed_arg, *my_exmpl1, **kwargs):
    print("Фіксований аргумент:", fixed_arg)
    print("Позиційні аргументи (кортеж):", args)
    print("Ключові аргументи (словник):", kwargs)

example_func(1,      2, 3, 4,      param1='a', param2='b', param3='с')

Фіксований аргумент: 1
Позиційні аргументи (кортеж): (2, 3, 4)
Ключові аргументи (словник): {'param1': 'a', 'param2': 'b', 'param3': 'с'}

In [194]:
def double_1(x):
		return x * 2
double_1(5)

10

In [195]:
double = lambda x: x*2
print(double(5))

10

In [196]:
def defined_cube(y):
    return y*y*y

In [197]:
lambda_cube = lambda y: y*y*y

print(defined_cube(2))
print(lambda_cube(2))

8
8

In [199]:
my_list = [1, 3, 4, 6, 10, 11, 15, 12, 14]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 10, 12, 14]

In [203]:
#def func(a, b=11, c) #Такий варіант теж заборонений? 

#Тобто лише так:
def foo(a, c, b=11):
    print('I am foo')

In [202]:
def foo(a, b=11, c):
    print('I am foo')

SyntaxError: non-default argument follows default argument (4282826300.py, line 1)